html, body {
    height: 100%;
    margin: 0;
}

#root { /* Assuming you're mounting your React app inside a div with id="root" */
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

input {
    width: 40%;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

button {
    font-weight: 400;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: coral;
    color: white;
}

button:hover {
    border-color: white;
}

svg rect {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
  }

.loader::before {
content: "";
position: absolute;
margin: 2px;
inset: 0 100% 0 0;
border-radius: inherit;
background: currentColor;
animation: l6 2s infinite;
}

@keyframes l6 {
    100% {inset:0}
}

